spring:
  application:
    name: CodeHawk

  servlet:
    multipart:
      enabled: true
      max-file-size: 10MB
      max-request-size: 10MB

  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver
    hikari:
      initializationFailTimeout: -1

  jpa:
    hibernate:
      ddl-auto: update

server:
  port: ${PORT:8080}

python:
  execution:
    timeout: 10

backend:
  url: http://localhost:${server.port}/api/execution/result
